body {
  background-color: #000;
}
.container {
  max-width: 45%;
  margin-left: 100px;
  margin-top: 50px;
  padding: 15px;
}
.game_window {
  background-color: #101d1d;
  color: #FFF;
}
#textoutput {
  //5px only to bottom
  margin: 0px 0px 5px 0px;
  padding: 0px;
  height: 500px;
  overflow: hidden;
}
li {
  margin-left: 0px;
  list-style-type: none;
  border-width: 0px 0px 1px 0px;
  border-color: #333;
  border-style: solid;
}
input {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  background-color: #202d2d;
  color: #DDD;
}
